<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <mat-card class="flex flex-auto grid-cols-1" >
      <mat-card-header>
        <mat-card-title>Projects</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>In this card the user will se his projects</p>
      </mat-card-content>
    </mat-card>
    <mat-card class=" flex flex-auto grid-cols-1">
    <mat-card-header>
        <mat-card-title>Customers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>In this card the user will se his customers</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="flex flex-auto grid-cols-1">
      <mat-card-header>
        <mat-card-title>Employees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>In this card the user will se his employees</p>
      </mat-card-content>
    </mat-card>
</div>
