<div class="h-screen bg-indigo-400 flex justify-center items-center">
  <mat-card class="md:w-3/12 xs:w-8/12 text-center">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <h2>Sign In</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field class="w-10/12" appearance="fill">
          <input
            matInput
            placeholder="Email"
            formControlName="username"
            required
          />
          <mat-error class="text-blue-red text-sm">
          Please provide a valid email address
        </mat-error>
        </mat-form-field>
        <mat-form-field class="w-10/12" appearance="fill">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <!--<mat-error>
          Please provide a valid password
        </mat-error>-->
        </mat-form-field><br>
        <button mat-raised-button [disabled]="this.form.invalid" color="primary">Login</button>
      </form>
    </mat-card-content>
    <a class="text-blue-600 hover:text-purple-800 font-bold" [routerLink]="['/register']">
      Create a new account
    </a>
  </mat-card>
</div>
